@model ImdbWeb.Models.DemoModels.DemoModel

@{
    ViewBag.Title = "Demo";
}

<h2>Demo</h2>
@using (Ajax.BeginForm(new AjaxOptions {
	UpdateTargetId = "cph",
	LoadingElementId = "waiting",
	LoadingElementDuration = 200
}))
{
	@Html.AntiForgeryToken()
	@Html.LabelFor(m => m.Overskrift)
	@Html.EditorFor(m => m.Overskrift)
	<br />
	@Html.LabelFor(m => m.Kommentar)
	@Html.EditorFor(m => m.Kommentar)
	<br />
	<button>Trykk her!</button>
}
<hr />
<div id="waiting" style="display: none;">
	<img src="~/Content/ajax-loader.gif" />
</div>
<div id="cph">
	...
</div>

