@model ImdbWeb.Models.AccountModels.LogonModel
@{
    ViewBag.Title = "Logon";
}

<h2>Logg på</h2>

<form method="post">
	@Html.LabelFor(m => m.Username)
	@Html.EditorFor(m => m.Username)
	<br />
	@Html.LabelFor(m => m.Password)
	@Html.EditorFor(m => m.Password)
	<br />
	@Html.LabelFor(m => m.RememberMe)
	@Html.EditorFor(m => m.RememberMe)
	<br />
	<button>Logg på</button>
</form>

