@model Movie

<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>@Model.OriginalTitle</p>
<div>
    @Cover.Medium(Model)
	<br />
	Running length: @Html.DisplayFor(m => m.RunningLength, "Duration") minutes
	<br />
	Genre: @Html.DisplayFor(m => m.Genre.Name)
	<br />
	Production year: @Model.ProductionYear
	<br />
	Regisører: @Html.PrettyJoin(Model.Directors)
	<br />
	Produsenter: @Html.PrettyJoin(Model.Producers)
</div>
<p>@Model.Description</p>

<h3>Skuespillere</h3>
<ul>
	@foreach (var person in Model.Actors)
	{
		<li>
			@Html.ActionLink(person.Name, "Details", "Person", new { id = person.PersonId }, null)
		</li>
	}
</ul>
