@model Movie

<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>@Model.OriginalTitle</p>

<section id="voting">
	@using (Ajax.BeginForm("Vote", new { id = Model.MovieId}, new AjaxOptions { UpdateTargetId="voting" }))
	{
		<text>
		@Html.AntiForgeryToken()
		Gi din stemme: @Html.DropDownList("vote", new SelectList(new[] {1,2,3,4,5 }), "-- velg --")
		<button>Send inn!</button>
		</text>
	}
</section>

<div>
    @Cover.Medium(Model)
	<br />
	Running length: @Html.DisplayFor(m => m.RunningLength, "Duration")
	<br />
	Genre: @Html.DisplayFor(m => m.Genre.Name)
	<br />
	Production year: @Model.ProductionYear
	<br />
	Regisører: @Html.PrettyJoin(Model.Directors)
	<br />
	Produsenter: @Html.PrettyJoin(Model.Producers)
</div>
<p>@Model.Description</p>

<h3>Skuespillere</h3>
<ul>
	@foreach (var person in Model.Actors)
	{
		<li>
			@Html.ActionLink(person.Name, "Details", "Person", new { id = person.PersonId }, null)
		</li>
	}
</ul>
