@using ImdbWeb.Helpers
@model Movie

<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>@Model.OriginalTitle</p>
<div>
	Running length: @Model.RunningLength minutes
	<br />
	Genre: @Model.Genre.Name
	<br />
	Production year: @Model.ProductionYear
	<br />
	Regisører: @Html.PrettyJoin(Model.Directors)
	<br />
	Produsenter: @Html.PrettyJoin(Model.Producers)
</div>
<p>@Model.Description</p>

<h3>Skuespillere</h3>
@Html.Partial("_PersonListing", Model.Actors)

@*<h3>Produsenter</h3>
@Html.Partial("_PersonListing", Model.Producers)

<h3>Regisører</h3>
@Html.Partial("_PersonListing", Model.Directors)*@


