@model Movie

<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>@Model.OriginalTitle</p>

<section id="voting">
	@using (Ajax.BeginForm("Vote", new { id = Model.MovieId }, new AjaxOptions { UpdateTargetId = "voting" }))
	{
		<text>
			@Html.AntiForgeryToken()
			<button name="vote" value="1" class="star"></button><!--
			--><button name="vote" value="2" class="star"></button><!--
			--><button name="vote" value="3" class="star"></button><!--
			--><button name="vote" value="4" class="star"></button><!--
			--><button name="vote" value="5" class="star"></button>
		</text>
	}
</section>

<div>
    @Cover.Medium(Model)
	<br />
	Running length: @Html.DisplayFor(m => m.RunningLength, "Duration")
	<br />
	Genre: @Html.DisplayFor(m => m.Genre.Name)
	<br />
	Production year: @Model.ProductionYear
	<br />
	Regisører: @Html.PrettyJoin(Model.Directors)
	<br />
	Produsenter: @Html.PrettyJoin(Model.Producers)
</div>
<p>@Model.Description</p>

<h3>Skuespillere</h3>
<ul>
	@foreach (var person in Model.Actors)
	{
		<li>
			@Html.ActionLink(person.Name, "Details", "Person", new { id = person.PersonId }, null)
		</li>
	}
</ul>
