@model Movie

<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>@Model.OriginalTitle</p>
<div>
	<img src="@Url.Action("CreateImage", "Image", new { format="medium", id = Model.MovieId })" alt="Cover for @Model.Title" />

	Running length: @Model.RunningLength minutes
	<br />
	Genre: @Model.Genre.Name
	<br />
	Production year: @Model.ProductionYear
	<br />
	Regisører: @Html.PrettyJoin(Model.Directors)
	<br />
	Produsenter: @Html.PrettyJoin(Model.Producers)
</div>
<p>@Model.Description</p>

<h3>Skuespillere</h3>
<ul>
	@foreach (var person in Model.Actors)
	{
		<li>
			@Html.ActionLink(person.Name, "Details", "Person", new { id = person.PersonId }, null)
		</li>
	}
</ul>
